body{
margin:0;
font-family:'Poppins',sans-serif;
background:url("../assets/images/login-bg.jpg") no-repeat center center/cover;
}

.login-page{
display:flex;
align-items:center;
justify-content:center;
height:99%;
gap:60px;
padding:20px;
}

/* login card */

.login-container{
width:380px;
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
text-align:center;
margin-top: 130px;
}

.system-title{
font-size:18px;
margin-bottom:10px;
color:#555;
}

.login-title{
font-size:22px;
font-weight:600;
margin-bottom:5px;
}

.welcome{
margin-bottom:25px;
color:#666;
}

/* input */

.input-group{
display:flex;
align-items:center;
background:#f5f7fa;
border-radius:8px;
padding:10px;
margin-bottom:15px;
position:relative;
}

.input-group input{
border:none;
outline:none;
background:transparent;
flex:1;
font-size:14px;
}

.icon{
color:#777;
margin-right:8px;
}

.toggle{
cursor:pointer;
color:#777;
}

/* button */

.login-btn{
width:100%;
padding:12px;
border:none;
border-radius:8px;
background:linear-gradient(90deg,#1976d2,#0d47a1);
color:white;
font-size:15px;
font-weight:500;
cursor:pointer;
margin-top:10px;
transition:0.3s;
}

.login-btn:hover{
background:linear-gradient(90deg,#0d47a1,#002171);
}

/* register */

.register-text{
margin-top:15px;
font-size:14px;
}

.register-text a{
color:#1976d2;
text-decoration:none;
font-weight:500;
}



