body{
margin:0;
font-family:'Poppins',sans-serif;
}

.register-page{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

/* card */

.register-container{
width:420px;
background:white;
padding:40px;
border-radius:15px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
text-align:center;
}

/* titles */

.system-title{
font-size:18px;
margin-bottom:10px;
color:#555;
}

.register-title{
font-size:22px;
font-weight:600;
margin-bottom:5px;
}

.subtitle{
margin-bottom:25px;
color:#666;
}

/* input group */

.input-group{
display:flex;
align-items:center;
background:#f5f7fa;
border-radius:8px;
padding:10px;
margin-bottom:15px;
position:relative;
}

.input-group input{
border:none;
outline:none;
background:transparent;
flex:1;
font-size:14px;
}

.icon{
color:#777;
margin-right:8px;
}

.toggle{
cursor:pointer;
color:#777;
}

/* register button */

.register-btn{
width:100%;
padding:12px;
border:none;
border-radius:8px;
background:linear-gradient(90deg,#1976d2,#0d47a1);
color:white;
font-size:15px;
font-weight:500;
cursor:pointer;
margin-top:10px;
transition:0.3s;
}

.register-btn:hover{
background:linear-gradient(90deg,#0d47a1,#002171);
}

/* login text */

.login-text{
margin-top:15px;
font-size:14px;
}

.login-text a{
color:#1976d2;
text-decoration:none;
font-weight:500;
}